﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="binhchon.ascx.cs" Inherits="Demo7.binhchon" %>
<h3>Bình chọn</h3>
<asp:RadioButtonList ID="RadioButtonList1" runat="server" OnSelectedIndexChanged="RadioButtonList1_SelectedIndexChanged" RepeatColumns="3">
    <asp:ListItem>Tốt</asp:ListItem>
    <asp:ListItem Value="Khá"></asp:ListItem>
    <asp:ListItem Value="Yếu"></asp:ListItem>
</asp:RadioButtonList>

