﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site1.Master" AutoEventWireup="true" CodeBehind="Home.aspx.cs" Inherits="Demo7.Home" %>
<%@ Register src="binhchon.ascx" tagname="binhchon" tagprefix="uc1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
    <style>
        .content h2{
            text-align: center;
            color: black;
            font-size: 50px;
        }
        .bc{
            float: right;
        }
    </style>
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <h2>Trang Chủ</h2>
    <p></p> 
</asp:Content>
