﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="kiemloi.aspx.cs" Inherits="Demo7.kiemloi" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
        <div>
        </div>
        <asp:TextBox ID="txt_1" runat="server"></asp:TextBox>
        <asp:RequiredFieldValidator ID="RequiredFieldValidator1" runat="server" ControlToValidate="txt_1" ErrorMessage="RequiredFieldValidator"></asp:RequiredFieldValidator>
        <p>
            <asp:Button ID="btn_1" runat="server" Text="Button" />
        </p>
    </form>
</body>
</html>
