﻿body {
    width:100%;
}
.container {
    width: 100%;
}
.menu {
    width: 100%;
    height: 100%;
    background-color: brown;
    text-align: center;
    padding-top: 10px;
}
.menu a{
    font-size: 20px;
    color: white;
    font-weight: bold;
    padding: 10px 20px;
    display: inline-block;
}
.menu a:hover{
    background-color:black;
    border-radius:8px;
}
.banner{
    width: 100%;
    height: 320px;
    background-image:url("./anh/banner.jpg");
    background-repeat:no-repeat;
    background-size:100% 100%;
}
.breadcrumb {
    width: 100%;
    height: 30px;
   background-color: bisque;
   font-size: 25px;
   color: firebrick;
   animation: text 0.5s infinite;
}
@keyframes text{
    from{
        color: red;
    }
    to{
        color: blueviolet;
    }
}
.sidebar {
    width: 17%;
    height: 250px;
    background-color: antiquewhite;
    float: left;
}
.sidebar h2{
    color: darkblue;
    text-align: center;
}
.sidebar a{
    text-decoration: none;
    font-size: 18px;
    color: darkgreen;
    display: block;
    padding-left:15px;
}
.sidebar a:hover{
    color: darkred;
}
.content{
    width: 83%;
    height: 250px;
    background-color: darkorange;
    float:left;
}
footer{
    background-color: black;
    color: whitesmoke;
    font-size: 22px;
    text-align: center;
}

